* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   /* background-color: #36A5FF; */
   background: linear-gradient(#36A5FF,#3a27ee);
}

.game {
   width: 100%;
   height: 100vh; /* Full viewport height */
   background: linear-gradient(#36A5FF, #3a27ee);
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 5rem;
   row-gap: 3rem;
}

.container > .heading {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container h2 {
   font-size: 3rem;
}

.container p {
   font-size: 1.8rem;
}
.main-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: .25rem;
   grid-template-rows: 1fr;
   grid-auto-rows: 1fr;
   background-color: #626060;
   width: min(70%, 600px);
   height: 60%;
   /* padding: 2rem; */
   border-radius: 2rem;
   overflow: hidden;
}

.cell {
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}

.cell img {
   width: 50%;
   height: auto;
}

.buttons {
   display: flex;
   column-gap: 2rem;
}

.buttons button {
   background-color: #fff;
   color: #36A5FF;
   padding: 1rem 1.5rem;
   font-weight: bold;
   outline: none;
   border: none;
   border-radius: .5rem;
}

.modal {
   margin: 5rem auto;
   background-color: #fff;
   text-align: center;
   row-gap: 2rem;
   padding: 2rem;
   border-radius: 2rem;
   border: 2px solid #36A5FF;
   width: min(500px, 50%);
}

.modal p {
   color: #36A5FF;
   font-size: 2.5rem;
   font-style: oblique;
   font-weight: 600;
}

.modal img {
   width: 10rem;
   height: 10rem;
}

.modal::backdrop {
   background-color: rgba(2, 20, 34, 0.7);
}

#closeDialog {
   padding: 1rem 1.5rem;
   background-color: #36A5FF;
   color: #fff;
   cursor: pointer;
   border: none;
   outline: none;
   border-radius: 2rem;
   border: 2px solid #FFF;
}

#closeDialog:hover {
   background-color: #fff;
   color: #36A5FF;
   border: 2px solid #36A5FF;
}